<div class="container-fluid" style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-danger h1">Subscription In Date Range</div>
    </div>
    <div class="row" style="margin-top: 5%;">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <strong> From:</strong> <input type="date" class="form-control-sm">
        </div>
        <div class="col-md-5" >
            <strong>To:</strong> <input type="date" class="form-control-sm">
        </div>
        <div class="col-md-2"></div>
        
    </div>
</div>