<div class="container-fluid"  style="margin-top: 5%;">
   <div class="row text-ligt">
      <div class="col-md-4"></div>
      <div class="col-md-4 h2 text-success"><b>Welcome To Swarayan App</b></div>
      <div class="col-md-4"></div>
   </div>
   
  <div class="col-md-1"></div>
   <script></script>
</div>
