<div class="container-fluid"  style="margin-top: 5%;">
   <div class="row text-ligt">
      <div class="col-md-4"></div>
      <div class="col-md-4 h2 text-danger"><b>Concerts</b></div>
      <div class="col-md-4"></div>
   </div>
   <div class="row">
       <div class="col-md-1"></div>
         <div class="col-md-10">
            <% Concert.all.each do |concert|%>
            <div class="jumbotron jumbotron-fluid">
               <div class="container">
                  <p class="lead "><strong>Id:</strong> <%= concert.id %></p>
                  <p class="lead"><strong>Concert Name:</strong> <%= concert.concert_name %></p>
                  <p class="lead"><strong>Concert Date:</strong> <%= concert.concert_date %></p>
                  <p class="lead"><strong>Follow_ups:</strong> <%= link_to "follow_ups" ,report_get_concert_follow_ups_path(:concert_id => concert.id) %></p>
               </div>
            </div>
            <% end %>
         </div>
         <div class="col-md-1"></div>
   </div>
   <script></script>
</div>